<% provide(:title, "Help") %>
<h1>StaticPages#help</h1>
<p>Get help with the Ruby on Rails sample app at the <a href="#">Ruby on Rails help section</a>.
  To get help on the this sample app, order our
  <a href="#"><em>Ruby on Rails sample app</em> book</a>
</p>
